.form-group {
    margin: 10px 5px;
}

.form-group label:first-child {
    width: 15%;
    float: left;
}

.form-group lable {
    float: left;
}

.form-group .form-control {
    float: left;
    border-radius: 5px;
    margin: 5px;
}

.form-group::after {
    content: "";
    clear: both;
    display: table;
}

.long-input {
    width: 40%;
}

.normal-input {
    width: 30%;
}

.short-input {
    width: 20%;
}

.error-msg {
    color: red;
}

.success-msg {
    color: green;
}

#list-video {
    padding: 10px;
}

#list-video::after {
    clear: both;
    display: table;
    content: "";
}

.video {
    width: 30%;
    float: left;
    margin: 0 15px;
    text-align: center;
}

.video img {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888888;
    cursor: pointer;
    transition: 0.3s;
}

.video img:hover {
    opacity: 0.7;
}

.video .title {
    font-weight: bold;
    margin-top: 10px;
    height: 47px;
    overflow: auto;
    text-align: center;
    cursor: pointer;
}

.search-box {
    margin: 15px;
}

.search-box input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
}